/*
   _____ _____  _____        _____
  / ____|  __ \|  __ \      / ____|
 | |  __| |  | | |__) |   _| (___
 | | |_ | |  | |  ___/ | | |\___ \
 | |__| | |__| | |   | |_| |____) |
  \_____|_____/|_|    \__, |_____/
                       __/ |
                      |___/
The main CSS style for the GDPyS frontend portion.
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    font-family: "Roboto";
    background-color: #2e323c;
    background-size: cover;
    height: 100%;
    color: white;
    padding-bottom: 20px;
    scrollbar-width: none;
}

hr {
    color: white;
}
.card {
    background-color: #212529;}
.card text-center {
    display: none;
}

.navbar-nav > li > .dropdown-menu {
   background-color: #2022298f;
}

.dropdown-item {
   color: white;
}
