{% extends "base.html" %}

{% block image %}https://cdn.discordapp.com/attachments/726830622433083445/736738657389641788/99f47a48b61cd06bddcf44bae43e1516.jpg{% endblock %}
{% block text %}Uh oh...{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">Error!</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <h1>403</h1>
            </div>
            <div class="col-sm">
                You do not have sufficient privileges to visit this page! Make sure you are logged into your GDPyS account or haave sufficient privileges to visit this page.
            </div>
        </div>
    </div>
</div>
{% endblock %}
