{% extends "base.html" %}

{% block image %}https://images.wallpapersden.com/image/download/night-mountains-summer-illustration_65051_1280x720.jpg{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        What is GDPyS?
    </div>
    <div class="card-body">
        GDPyS is a fast, modern and secure Geometry Dash Private Server! It has been written from the ground up in Python! It aims at providing a fast, outstanding experiance with its unique featureset.<br>
        This server is running GDPyS {{ ver }}
    </div>
</div>
{% endblock %}