{% extends "base.html" %}

{% block image %}https://images.unsplash.com/photo-1541753236788-b0ac1fc5009d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80{% endblock %}
{% block text %}Level Reupload{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Level reupload
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                Reupload a level from another source to the GDPS. This can be used to bring levels from the official Geometry Dash servers to the GDPS.<br><br>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label>Level ID</label>
                    <input type="text" class="form-control" name="username" placeholder="The ID of the level." id="levelid">
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input class="form-control" name="password" placeholder="URL of the server." value="http://www.boomlings.com/database/" id="server">
                </div>
                <label>Limit</label>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ left }}%" aria-valuenow="{{ left }}" aria-valuemin="0" aria-valuemax="100" id="reupbar"></div>
                </div>
                <br>
                <button class="btn btn-primary" name="" onclick="ReuploadButton()">Reupload</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}